---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getEntryBySlug } from "astro:content";

const page = await getEntryBySlug("pages", "constitution");
---

<BaseLayout title="Constitution">
  <div class="container">
    <div class="card">
      <h2 class="h2">{page?.data.title ?? "Constitution"}</h2>
      <p class="meta">{page?.data.body ?? ""}</p>
    </div>
  </div>
</BaseLayout>
